.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #34e0a1;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-logo h1 {
    font-size: 32px;
    margin: 0;
    color: white;
}

.header-logo a {
    text-decoration: none;
    color: inherit;
}

.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header-nav ul li {
    margin-left: 40px;
}

.header-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
    transition: color 0.3s;
    padding: .2rem .4rem;
}

.active-link {
    border-bottom: 0.1rem solid #ffffff;
}

.header-nav ul li a:hover {
    transition: 300ms;
    font-size: 17px;
    /* text-shadow: 1px 4px 8px #fff; */
}

.logout-link {
    cursor: pointer;
    color: white;
    text-decoration: none;
}